.align_select {
  overflow: hidden;
  background-color: #363636;
  height: 50px;
  width: fit-content;
  margin-left: calc(50% - 100px);
  border-radius: 0px 0px 8px 8px;
}

.align_select a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 50px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
  
.align_select a:hover, .dropdown:hover .dropbtn {
  background-color: #949596;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 150px;
  overflow-y: scroll;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: fit-content;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
