/*  
    12/12/2021

    Quentin CAPUZET
    Loïc PERON
    Valentin GONAY
    Gregory BORDIER
    Thomas BAUDEAU
    Elie BORDRON

    CSS file for the global display

    version 1.0.0 
    
*/


html{
    background: #363636;
    overflow-y: hidden;
}

#logo_font {
    margin-top : -25%;
    margin-left: 5%;
    width:calc(95%);
}

