#graph_window {
    display: none;
    position: absolute;
    border: 3px solid #949596;
    border-radius: 5px;
    background: rgb(66, 66, 66);
    top: 50px;
    width: calc(98% - 8px);
    height: calc(100% - 150px);
    overflow-y: scroll;
    scrollbar-width: thin;
}

#graph {
    display: flex;
    position: absolute;
    width: 1000px;
    top: 50px;
}

/*#graph_length {
    top: 50px;
    border: 1px solid #949596;
    height: 40%;
    width: calc((100% - 20px)/2);
    left : calc(15px + (100% - 20px)/2);
}

#graph_indentities {
    top: calc(40% + 100px);
    border: 1px solid #949596;
    width: calc((100% - 20px)/2);
}

#graph_gap {
    top: calc(40% + 100px);
    border: 1px solid #949596;
    width: calc((100% - 20px)/2);
    left : calc(15px + (100% - 20px)/2);
}*/