/*  
    12/12/2021

    Quentin CAPUZET
    Loïc PERON
    Valentin GONAY
    Gregory BORDIER
    Thomas BAUDEAU
    Elie BORDRON

    CSS file for the sequence alignment window display

    version 1.0.0 
    
*/


#sequence_window {
    display: none;
    border: 3px solid #949596;
    border-radius: 5px;
    position: absolute;
    top: 50px;
    background: rgb(66, 66, 66);
    width: calc(98% - 8px);
    height: calc(100% - 150px);
    overflow-y: scroll;
    scrollbar-width: thin;
}

#sequence_window_text{
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    top: 75px;
    position: absolute;
    margin-left: calc(50% - 388.94px);
}

#sequence_dot{
    color:rgba(66, 66, 66, 0);
}

#sequence_miss_match{
    color:red;
}

#div_download_resu button {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    margin-left: 20%;
    margin-top: 10px;
    cursor: pointer;
}


#div_download_resu button:hover {
    background-color: #949596;
}