#sequence_window {
    display: none;
    border: 3px solid #949596;
    border-radius: 5px;
    position: absolute;
    top: 430px;
    background: rgb(66, 66, 66);
    width: calc(98% - 8px);
    height: 360px;
}